.title {
  text-align: center;
}

.image {
  padding-bottom: 40px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  display: flex;
  flex: auto;
  padding-left: 50px;
  font-weight: 500;
  text-align: justify;
  max-width: 550px;
  color: #344e41;
}

.price {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  font-weight: 500;
}

.buyDiv {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.buyButton {
  background-color: #ffffff;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    'Helvetica Neue', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  width: auto;
  &:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow 0.2s;
  }
  &:active {
    background-color: #f7f7f7;
    border-color: #000000;
    transform: scale(0.96);
  }
  &:disabled {
    border-color: #dddddd;
    color: #dddddd;
    cursor: not-allowed;
    opacity: 1;
  }
}
